@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  scrollbar-width: none;
}
.drag {
  -webkit-app-region: drag;
}
.scrollbar-none {
  scrollbar-gutter: stable;
  scrollbar-width: none;
}
